<html>
<head>
	<title>Critaholic: Character</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 jumbotron">
                <h2>{% block header_text %}{% endblock %}</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <p id="instructions" class="lead">First, enter your character's name.</p>
                <p class="lead">Second, add a brief description.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <form method="post" action="{% block form_action %}{% endblock %}" >
                    <div class="row">
                        <div class="col-md-4 form-group">
                            <label for="character_name" id="character_name_label">Character Name</label>
                            <input id="character_name_input" name="character_name" type="text"  />
                        </div>
                        <div class="col-md-4 form-group">
                            <label for="character_description">Description</label>
                            <input id="character_description_input" name="character_description" type="text"  />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-4 form-group text-center">
                            <input id="character_submit" type="submit" value="Submit">
                            {% csrf_token %}
                        </div>
                    </div>
                </form>
            </div>

    {% block character_table %}
    {% endblock %}
    </div>
</body>
</html>