<html>
	<title>Critaholic: Initiative Tracker</title>
	<h1>Critaholic: Initiative!</h1>
	<p id="instructions">First, enter the name of the monster. Second, enter the initiative.</p>

	<form method="post" action="/init/new">
        <label for="init_name" id="initiative_name_label">Creature</label>
        <input id="initiative_name_input" name="init_name" type="text" placeholder="Enter a monster's name" />
		<label for="init_num">Initiative</label>
        <input id="initiative_number_input" name="init_num" type="text" placeholder="Enter the monster's initiative" />
        <label for="init_hp">Starting HP</label>
        <input id="initiative_hp_input" name="init_hp" type="text" placeholder="Enter the monster's hit points" />
		<input id="initiative_submit" type="submit" value="Submit">
		{% csrf_token %}
	</form>
</html>	