<html>
	<title>Critaholic: Initiative Tracker</title>
	<h1>Critaholic: Initiative!</h1>
	<p id="instructions">First, enter the name of the monster. Second, enter the initiative.</p>

	<form method="post" action="/init/new">
		<input id="initiative_name_input" name="init_name" type="text" placeholder="Enter a monster's name" />
		<input id="initiative_number_input" name="init_num" type="text" placeholder="Enter the monster's initiative" />
		<input id="initiative_submit" type="submit" value="Submit">
		{% csrf_token %}
	</form>

	<table id="init_table">
		{% for initiative in initiative_order %}
            <tr>
                {# TODO make sure that the initiative items are displayed in order of initiative value #}
                <td class="initiative_name_display">{{ initiative.creature_name }}</td>
                <td class="initiative_number_display">{{ initiative.initiative_value }}</td>
            </tr>
        {%  endfor %}
	</table>

</html>